/**
* Table of Contents
**/

.container.page-toc {
  max-width: 920px;
}

.toc-container {
  position: relative;
}

.toc-table {
  padding: 50px;
  background: #fff;
  border: 1px solid #ddd;
   margin-left: 216px;
}

.no-results {
  margin-left: 240px;
  padding-top: 4px;
  color: #666;
}

.toc-row {
  padding: 15px 0;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.toc-row:first-of-type {
  padding-top: 0;
}

.toc-row:last-of-type {
  padding-bottom: 0;
  border-bottom: none;
}

.toc-row:hover .text {
  color: #ca8a17;
}

.toc-row span {
  float: left;
  margin-right: 4px;
}

.toc-row .text {
  padding-left: 30px;
  font-family: 'arno-pro', serif;
  font-size: 1.4em;
  white-space: nowrap;
}

.toc-row .meta {
  padding-top: 8px;
  font-family: 'helvetica', sans-serif;
  font-size: .6em;
  color: #A8A8A8;
  overflow: auto;
  display: block;
}

.toc-row .number {
  padding-top: 3px;
}
