/**
* Tree diagram
**/

.diagram {
  max-width: 100%;
  overflow: auto;
  margin-top: 40px;
}

/**
* Geoms
**/

path {
  fill: none;
  stroke: #c7c7c7;
}

text {
  cursor: pointer;
}

text:hover {
  fill: #a77417;
}

/**
* Hidden element for sizing
**/

#hidden {
  position: absolute;
  top: -500%;
  left: -500%;
}