@require './variables';

/**
* Essays
**/

// .essay-title {
//   max-width: 500px;
//   margin: 0 auto;
//   display: block;
// }


.essay-modal-container .essay-html-outer{
    height: 70vh; /* Borrowing this odd one form the testimony  left */
    position: relative;
}

.essay-modal-container .essay-html-inner {
    overflow-y: scroll;
    max-width: 600px;
    margin: 15px auto;
}

.essay-modal-container .essay-html-inner blockquote {
    font-size: unset;
    font-style: unset;
    padding: 19px;
}

.essay-modal-container .essay-html-inner .divider{
    text-align: center;
    font-size: 28px;
}

.essay-modal-container .essay-html-inner .footnote {
    padding: 9px;
    font-size: 14px;
    color: #555;
}