@require './variables';

/**
* Essays
**/

.essay-titles {
  max-width: 500px;
  margin: 0 auto;
  display: block;
}

.essay-title {
  padding: 14px;
  box-sizing: border-box;
  border-top: 1px solid #ddd;
  display: block;
  color: #222;
  font-family: 'arno-pro', serif;
  font-size: 1.25em;
}

.essay-title:hover {
  color: $brown;
}

.essay-titles .essay-title:last-of-type {
  border-bottom: 1px solid #ddd;
}