@require './variables';

/**
* Filter styles
**/

.filter-container {
  width: 200px;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #ddd;
  padding: 18px;
  color: #666;
  margin-bottom: 60px;
}

.filter-element {
  margin-bottom: 25px;
}

.filter-element:last-of-type {
  margin-bottom: 0;
}

.filter-container label {
  display: block;
  font-weight: 800;
  margin-bottom: 7px;
  font-size: 14px;
}

.filter-container select,
.filter-container input {
  width: 100%;
  background: #f3f3f3;
  font-size: 1em;
  padding: 6px 9px;
  font-size: 0.75em;
  border-radius: 3px;
  border: none;
  color: inherit;
  background-image: url(../images/caret.png);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: right 4px center;
}

/**
* Typeahead styles
**/

.sr-only.rbt-sr-status {
  display: none;
}

ul.rbt-menu.show {
  background: #f9f9f9;
  padding: 12px;
  line-height: 1.3em;
  z-index: 10;
  box-shadow: 0px 4px 4px rgba(88,88,88,0.3);
}

ul.rbt-menu.show li.active {
  background: #efeded;
}

a.dropdown-item {
  color: inherit;
  font-size: 12px;
}

a.dropdown-item:hover {
  color: $brown;
}

.rbt-highlight-text {
  background: #e6e6e6;
}

/* no options available */
a.dropdown-item.disabled,
/* load more options */
li.rbt-menu-pagination-option {
  background: $brown;
  color: #fff;
  padding: 2px 4px;
  font-size: 13px;
}

/**
* Timeline range slider
**/

.rc-slider {
  margin: 0 8px;
  width: auto;
}

.rc-slider-handle {
  border: 2px solid #aaa;
}

.rc-slider-handle:hover {
  border: 2px solid #999;
}

.rc-slider-track {
  background: $brown;
}

/* label containers */
.rc-slider-tooltip-content {
  transform: translate(0, 56px);
}

/* labels */
.rc-slider-tooltip-inner {
  color: #797878;
  background-color: #fff;
  box-shadow: 0 0 4px #737373;
}

/* label stems */
.rc-slider-tooltip-placement-top .rc-slider-tooltip-arrow {
  display: none;
}
