/**
* Home
**/

.home {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #222;
  color: #fff;
  text-align: center;
  background-image: url(../images/memorial-sepia.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  max-height: 100%;
  overflow: auto;
}

.home .top {
  margin-top: 40vh;
}

.home .top .welcome {
  font-family: 'arno-pro', serif;
  max-width: 55%;
  display: inline-block;
  font-size: 2em;
  color: #efefef;
  line-height: 1.125em;
  text-shadow: -2px 2px 4px rgba(0,0,0,0.6);
  letter-spacing: .5px;
}

.home .top .button {
  display: inline-block;
  margin-top: 40px;
}

.home .bottom {
  width: 450px;
  display: inline-block;
  margin-top: 14vh;
}

.home .bottom hr {
  margin: 24px 0;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, .01), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, .01));
}

.home .bottom p {
  color: #ccc;
  font-size: 1.25em;
  margin: 10px;
  text-shadow: -2px 2px 4px rgba(0,0,0,0.6);
  letter-spacing: .4px;
}

