@require './variables';


.media-picker .label{
    font-weight: bold
}

.media-picker .media-picker-section{
    padding: 3px;
    margin: 0px 3px;
    border-radius: unset;
    font-weight: normal;

}

.media-picker .media-picker-section.selected{
    background-color: $beige;
    color: $brown;
}

.media-picker .media-picker-section.selected{
    opacity: 0.9;
}

.media-picker .media-picker-section:hover{
    background-color: $beige;
    color: $brown;
}