/**
* Methods
**/

.methods .image-trio a {
  color: #222;
  display: block;
}

.methods .image-trio .background-image {
  background-image: url('../images/memorial-sepia.jpg');
}

.methods .image-trio div {
  margin-top: 10px;
}