/**
* Testimony
**/

.testimony-modal-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background: rgba(0,0,0,0.7);
}

.testimony-inner {
  margin: 30px;
}

.testimony {
  margin: 50px auto;
  color: #000;
  background: #fff;
  max-width: 1000px;
  max-height: 100%;
}

.testimony .close {
  position: absolute;
  top: -14px;
  right: -14px;
  width: 37px;
  cursor: pointer;
}

.testimony .close img {
  width: 16px;
}

.testimony .content {
  position: relative;
}

.testimony .right {
  width: 360px;
  float: right;
}

.testimony .left {
  overflow-x: hidden;
  padding: 30px 0 20px 20px;
}

.testimony .left .body {
  background: #F4F4F4;
  margin: 0;
}

/**
* Left
**/

.testimony .title {
  font-weight: 700;
  font-size: 17px;
  padding-bottom: 16px;
}

.testimony .body {
  padding: 20px;
}

.testimony .body,
.testimony .history {
  max-height: 70vh;
  overflow: auto;
  font-family: 'arno-pro', serif;
  font-size: 18px;
  line-height: 1.25em;
}

.testimony .body p {
  font-size: inherit;
  margin-top: 0;
}

.testimony .body span.active {
  background: rgba(255, 165, 0, .6);
}

.footer {
  padding-bottom: 20px;
  padding-left: 20px;
  font-size: 13px;
  line-height: .9em;
  color: #A2A2A2;
}

.footer div:first-of-type {
  margin-bottom: 7px;
}

/**
* Right
**/

.testimony .right-content {
  padding: 20px;
}

.testimony .tab {
  font-weight: 700;
  font-size: 17px;
  width: 50%;
  display: inline-block;
  padding: 12px 10px;
  border: 1px solid lightgray;
  border-right: none;
  text-align: center;
  cursor: pointer;
  color: #C4C4C4;
}

.testimony .tab.active {
  color: #666;
  border-bottom: 1px solid #fff;
}

.testimony .tab:first-of-type.active {
  border-left: 1px solid #fff;
}

.testimony .audio-container {
  background: #f9f9f9;
}

.testimony .media-caption {
  line-height: 1.4em;
  font-size: 14px;
  margin-top: 15px;
  color: #333;
}

.testimony .history {
  padding: 8px 0;
  line-height: 1.6em;
}

@media(max-width: 900px) {
  .testimony .right {
    float: none;
    width: 100%;
  }

  .testimony video {
    margin: 5px auto 0;
    display: block;
  }

  .testimony .left {
    padding-top: 0;
  }

  .testimony .body {
    margin-right: 0;
  }

  .testimony .audio-container {
    padding-top: 20px;
  }

  .testimony .audio-container img,
  .testimony .audio-container audio {
    margin: 0 auto;
    display: block;
  }
}

@media (max-height: 700px) {
  .testimony .body,
  .testimony .history {
    max-height: 55vh;
  }
}

@media (max-width: 900px) and (max-height: 900px) {
  .testimony .body,
  .testimony .history {
    max-height: 30vh;
  }
}