@require './variables';

/**
* Tree chart
**/

#target {
  overflow-y: hidden;
  padding-bottom: 70px;
}

.tree-container {
  margin-top: 40px;
  position: relative;
}

.tree-chart {
  max-width: 100%;
  overflow: auto;
}

/**
* Geoms
**/

path {
  fill: none;
  stroke: #c7c7c7;
}

text {
  cursor: pointer;
  font-family: 'arno-pro', serif;
}

text:hover {
  fill: #a77417;
}

/**
* Hidden element for sizing
**/

#hidden {
  position: absolute;
  top: -500%;
  left: -500%;
}

/**
* Reset button
**/

#reset {
  font-size: 29px;
  color: #fff;
  background: $brown;
  display: inline-block;
  padding: 3px 8px 5px;
  vertical-align: top;
  position: absolute;
  left: -18px;
  top: 288px;
  transition: transform .2s;
  transform: rotate(180deg);
}

#reset img {
  width: 18px;
  height: 18px;
}